extends _layouts/base

include _modules/link/link

block content
	.content
		div
			div(class="cities")
				h2 London
				
				p London is the capital of England, bla bla bla bla
				p Standing on the River Themes, London bla bla bla
			div(class="cities")
				h2 Paris
				p Paris isi the capital and most popular city of France
			
			p My 
					span(class="note")  Important 
					|Heading

		include _modules/menu

