extends _layouts/base

include _modules/link/link

block content
	.content
		div
			div
				div(style="position:relative")
				div(style="opacity:0.5;position:absolute;left:250px;top:-30px;width:300px;height:150px;background-color:#40B3DF;")
				div(style="opacity:0.3;position:absolute;left:320px;top:20px;width:100px;height:170px;background-color:#73AD21;")
				div(style="margin-top:30px;width:360px;padding:20px;border-radius:10px;border:10px solid #EE872A;font-size:120%;")
					h1 CSS = Styles and Colors
						div(style="letter-spacing:12px;font-size:15px;position:relative;left:25px;top:25px;") Manipulate Text
						div(style="color:#40B3DF;letter-spacing:12px;font-size:15px;position:relative;left:25px;top:30px") Colors,
								span(style="background-color:#B4009E;color:#FFFFFF;") Boxes
								br
		include _modules/menu