extends _layouts/base

include _modules/link/link

block content
  .content
    div
      h1(style="text-align:center;")  This is a heading 1
      h2 This is a heading 2
      h3 This is a heading 3

      p This is a paragraf.
      p This is another paragraf.
      p jhkjhkhkjh
      p what the fuck is going on???
      p jhezgjzggggggggggggggggggggggg

      a(href="http://www.w3schools.com") This is a link
      img(src="images/yeogurt-swirl.png", alt="yeogurt-swirl image logo")

    include _modules/menu