extends _layouts/base

include _modules/link/link

block content
  h1 This is a heading
  a(href="http://google.co.uk") google
  a(href="http://yahoo.co.uk") yahoo
  a(href="http://bing.co.uk") bing

  include _modules/menu