extends _layouts/base

include _modules/link/link

block content
  .content
    div
      body(style="background-color:powderblue")
      h1(style="font-family:verdana") This is a headin
      h2(style="color:red") I am RED
      h2(style="color:blue") I am BLUE
      p(style="font-family:courier") This is a paragraph
      h1(style="font-size:260%") This is a heading
      p(style="font-size:380%") This is a paragraph
      h3(style="text-align:center") Centered Heading
      p(style="text-align:center") Centered paragraph

    include _modules/menu 


